@import url('https://fonts.googleapis.com/css2?family=Puritan:wght@400;700&display=swap');

/* font-family: 'Puritan', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bigyellow: #FFB803;
    --yellow: #FFF022;
    --green: #115851;
    --smallyellow: #FFFCEB;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 38px;
    height: 35px;
    margin-top: 5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: #02232e;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.button {
    outline: none !important;
}


/* ****************nav end********************** */


/* one-section  */

.one-section {
    background-image: url('../img/one-bg.jpg');
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overight-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.overight-navbar-scroll {
    width: 100%;
    flex-direction: row;
    position: fixed !important;
    z-index: 2002;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(29, 29, 29, 0.25);
}

.overight-navbar-scroll .logo {
    margin: 5px 0;
}

.overight-navbar-scroll .nav-text {
    -webkit-text-stroke: 0.1px var(--green);
    color: var(--green) !important;
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    transition: 0.2s;
}

.overight-navbar-scroll .nav-text:hover {
    color: var(--bigyellow) !important;
}

.overight-navbar-scroll .now {
    -webkit-text-stroke: 0.1px var(--green);
    color: var(--bigyellow) !important;
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
}

.logo {
    width: 45px;
    margin: 20px 0;
}

.nav-text {
    -webkit-text-stroke: 0.1px var(--green);
    color: var(--yellow) !important;
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    transition: 0.3s;
}

.nav-text:hover {
    -webkit-text-stroke: 0.1px var(--green);
    color: var(--green) !important;
}

.ul-nav {
    background-color: none;
}

.now {
    -webkit-text-stroke: 0.1px var(--green);
    color: var(--green) !important;
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
}

.bold-helder {
    height: 65vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

.one-title {
    -webkit-text-stroke: 0.4px gray;
    font-weight: bold;
    font-size: 50px;
    color: var(--smallyellow);
    letter-spacing: 15px;
}

.two-title {
    -webkit-text-stroke: 0.4px gray;
    font-weight: bold;
    font-size: 25px;
    color: var(--smallyellow);
    letter-spacing: 8px;
}

.mobile-card {
    margin: 40px 0;
    width: 100%;
    background: var(--smallyellow);
    display: flex;
    align-items: center;
}

.one-mobile {
    width: 60px;
    margin-top: 20px;
}

.one-number {
    color: var(--green);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Puritan', sans-serif;
}

.one-mobile-card {
    -webkit-text-stroke: 0.1px gray;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffc123;
    font-family: 'Puritan', sans-serif;
}


/* two section  */

.article-bg {
    background-color: var(--smallyellow);
}

.twosection-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 4px;
    color: var(--bigyellow);
    font-family: 'Puritan', sans-serif;
    -webkit-text-stroke: 0.1px gray;
}

.card {
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.card-img {
    width: 100%;
}

.one-icon {
    width: 40px;
    margin-right: 10px;
}

.card-title {
    display: inline-block;
    color: var(--bigyellow);
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Puritan', sans-serif;
    -webkit-text-stroke: 0.1px gray;
}

.card-about {
    margin: 0;
    font-size: 19px;
    color: rgba(17, 88, 81, 0.66);
    font-family: 'Puritan', sans-serif;
}

.c4-izmir {
    border-radius: 8px 8px 0 0;
    background-color: #12d1faf5;
}


/* footer  */

.footer {
    background-color: #FFFFFB;
}

.footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartoon-png {
    width: 50px;
}

.social {
    width: 40px;
}

.version {
    color: gray;
    margin: 0;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Puritan', sans-serif;
}

.footer-line {
    margin: 15px 0;
    width: 100%;
}

.footer-copy {
    color: #1158518a;
    letter-spacing: 3px;
    font-family: 'Puritan', sans-serif;
}


/* ***************************************************************** */


/* Phone  */

@media(max-width:767px) {
    .overight-navbar {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        z-index: 2001;
    }
    .overight-navbar-scroll .nav-text {
        font-weight: bold;
        -webkit-text-stroke: 0.1px yellow;
        color: #beb418 !important;
        font-size: 15px;
    }
    .overight-navbar-scroll .now {
        -webkit-text-stroke: 0.1px var(--smallyellow);
        color: var(--green) !important;
        font-family: 'Puritan', sans-serif;
        font-size: 19px;
    }
    .logo {
        width: 35px;
        margin: 10px 0;
    }
    .ul-nav {
        background-color: #fff9d4;
        border-radius: 5px;
    }
    .ul-nav li {
        margin: 5px 0;
        border-bottom: 0.5px solid #ecec88;
    }
    .ul-nav li a {
        text-align: center;
    }
    .nav-text {
        font-weight: bold;
        -webkit-text-stroke: 0.1px yellow;
        color: #beb418 !important;
        font-size: 15px;
    }
    .nav-text:hover {
        color: var(--green) !important;
    }
    .now {
        -webkit-text-stroke: 0.1px var(--smallyellow);
        color: var(--green) !important;
        font-family: 'Puritan', sans-serif;
        font-size: 19px;
    }
    .one-section {
        height: 50vh;
    }
    .bold-helder {
        height: 50vh;
    }
    .one-title {
        font-size: 35px;
        letter-spacing: 8px;
    }
    .two-title {
        font-size: 15px;
        letter-spacing: 5px;
    }
    .mobile-card {
        margin: 10px 0;
    }
    /* two section  */
    .one-icon {
        width: 30px;
        margin-right: 10px;
    }
    .card-title {
        font-size: 19px;
        letter-spacing: 2px;
    }
    .card-about {
        font-size: 15px;
    }
    /* footer  */
    .cartoon-png {
        width: 45px;
    }
    .social {
        width: 35px;
    }
    .version {
        font-size: 11px;
        letter-spacing: 2px;
    }
    .footer-copy {
        font-size: 12px;
        letter-spacing: 1px;
    }
}


/* *********************************************************************** */


/* Taplat  */

@media(min-width:768px) and (max-width:991px) {
    .overight-navbar {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        position: absolute;
    }
    .overight-navbar-scroll .nav-text {
        font-weight: bold;
        -webkit-text-stroke: 0.1px yellow;
        color: #beb418 !important;
        font-size: 15px;
    }
    .overight-navbar-scroll .now {
        -webkit-text-stroke: 0.1px var(--smallyellow);
        color: var(--green) !important;
        font-family: 'Puritan', sans-serif;
        font-size: 19px;
    }
    .ul-nav {
        background-color: #fff9d4;
        border-radius: 5px;
    }
    .ul-nav li {
        margin: 6px 0;
        border-bottom: 0.5px solid #ecec88;
    }
    .ul-nav li a {
        text-align: center;
    }
    .nav-text {
        font-weight: bold;
        -webkit-text-stroke: 0.1px yellow;
        color: #beb418 !important;
        font-size: 19px;
    }
    .nav-text:hover {
        color: var(--green) !important;
    }
    .now {
        -webkit-text-stroke: 0.1px var(--smallyellow);
        color: var(--green) !important;
        font-family: 'Puritan', sans-serif;
        font-size: 19px;
    }
    .mobile-card {
        margin: 20px 0;
    }
    /* two section  */
    .one-icon {
        width: 30px;
        margin-right: 10px;
    }
    .card-title {
        font-size: 19px;
        letter-spacing: 2px;
    }
    .card-about {
        font-size: 16px;
    }
}


/* *************************************************************************** */


/* laptop  */

@media(min-width:992px) and (max-width:1199px) {
    .one-section {
        height: 50vh;
    }
    .bold-helder {
        height: 50vh;
    }
    /* two section  */
    .one-icon {
        width: 30px;
        margin-right: 10px;
    }
    .card-title {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card-about {
        font-size: 19px;
    }
}